<div class="card text-white">
    <div class="card-header" >{{titulo}}</div>
    <div class="card-body">
        <form>
            <div class="form-group row"> 
                <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6"> 
                    <input type="text" class="form-control" [(ngModel)]="producto.name" name="nombre" required> 
                </div>
            </div>
            <div class="form-group row"> 
                <label for="marca" class="col-form-label col-sm-2">Marca</label>
                <div class="col-sm-6"> 
                    <select class="fd form-control" [(ngModel)]="producto.marca" name="marca" required>
                        <option *ngFor="let marca of marcas" [value]="marca">{{marca}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row"> 
                <label for="categoria" class="col-form-label col-sm-2">Categoría</label>
                <div class="col-sm-6"> 
                    <select class="fd form-control" [(ngModel)]="producto.categoria" name="categoria" required>
                        <option *ngFor="let categoria of categorias" [value]="categoria">{{categoria}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row"> 
                <label for="precioBase" class="col-form-label col-sm-2">Precio Base</label>
                <div class="col-sm-6"> 
                    <input type="number" class="form-control" [(ngModel)]="producto.precioBase" name="precioBase" required> 
                </div>
            </div>
            <div class="form-group row"> 
                <div class="col-sm-6"> 
                    <button class="btn" type="submit" (click)="actualizarProducto()">Actualizar Producto</button>
                </div>
            </div>
        </form>
    </div>
</div>