<div class="container-fluid"> 
    <footer class="text-center text-lg-start">
        <div class="container py-2"> 
            <p class="my-1">
                &copy; {{proyecto.anio+' '+proyecto.nombreProyecto+' | '  +tecnologia.leyenda+ tecnologia.tec1+
                ''+tecnologia.tec2+' | Autor: '+autor}} </p>
        </div>
        
        <div class="container d-flex justify-content-center py-1">  
            <a href="https://www.facebook.com/SebastianTGDev" title="Facebook">         
                <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: var(--color4); color: rgb(46, 45, 45);">
                    <i class="fab fa-facebook-f"></i>            
                </button>       
            </a>     
            <a href="https://www.youtube.com/@joansebastiantuquerrezgome7914">    
                <button type="button" class="btn btn-primary btn-lg btn-Floating mx-2" style="background-color: var(--color4); color: rgb(46, 45, 45);">
                    <i class="fab fa-youtube"></i>
            </button>       
            </a>     
        </div>
        
        <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2024 Copyright:        
            <a class="" href="https://um.unicauca.edu.co/">Universidad del Cauca</a>        
        </div>    
    </footer>
</div>